doctype html
html(lang='en')
  
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width')
    meta(name='format-detection' content='email=no,telephone=no')
    title= meta.title
    meta(name='description' content=meta.description)
    meta(name='theme-color' content='#b8d1ea')
    link(rel='stylesheet' href=`${meta.publicUrl}index.css`)
    link(rel='apple-touch-icon' sizes='192x192' href='media/favicon.png')
    link(rel='icon' type='image/png' sizes='192x192' href='media/favicon.png')
    
  body(class=`
    bg-soft
    font-barlow
    text-dark
  `)
    header#pageHeader(class=`
      bg-darker
      text-lighter
    `)
      include /header.pug
  
    main#pageMain
      include /main.pug
      
    footer#pageFooter(class=`
      bg-darker
      text-lighter
    `)
      include /footer.pug
      
    script(src=`${meta.publicUrl}index.js`)
